<div class="hero">
  <div class="info">
    <img class="profile" src="../../../assets/hero.png" />
    <div class="name"><p>Alexander Boradjiev</p></div>
  </div>
  <div class="line"></div>
  <div class="contacts">
    <div class="contact-type">
      <img class="contact-img" src="../../../assets/image 2.png" />
      <p>Sofia, Bulgaria</p>
    </div>
    <div class="contact-type">
      <img class="contact-img" src="../../../assets/smartphone.png" />
      <p>+359 887 541 368</p>
    </div>
    <div class="contact-type">
      <img class="contact-img" src="../../../assets/email 1.png" />
      <p>alexander.boradjiev@gmail.com</p>
    </div>
  </div>
</div>
